################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Core/.vs/Core/v15/Server/sqlite3
/Core/wwwroot/.vs/Core/v15
