@page
@{
    ViewData["Title"] = "NotFound";
}

<h1><i class="glyphicon glyphicon-search"></i> NotFound </h1>

<h3>The Restaurant you are looking could not be found</h3>

<hr />
<a asp-page="./List" class="btn btn-info">Back to Restaurants</a>
